<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- WARNING!!! DO NOT CHANGE THE NAME OF THE CONNECTION STRING BELOW, DEFAULT NAME = GuestBookConnectionString -->
    <add name="GuestBookConnectionString" connectionString="Server=.\SQLExpress;AttachDbFilename=|DataDirectory|Guestbook.mdf;database=Guestbook;Trusted_Connection=Yes;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/error.aspx" />
    <authentication mode="Forms">
      <forms loginUrl="~/admin/login.aspx" timeout="20" slidingExpiration="true" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpCookies httpOnlyCookies="true" />

    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>

</configuration>
